<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Board</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            font-family: "Montserrat", sans-serif;
        }
     .container{
        display: flex;
       margin: 2rem;
       justify-content: space-between;
       
     }
     .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80vh;
        background-color: rgba(0, 0, 255, 0.599);
        padding: 2rem;
        border-radius: 30px;
        color: white;
        
     }
     .navpara{
        font-weight: 800;
        font-size: 18px;
        text-align: center;
     }
     a{
        text-decoration: none;
        color: #FFD700;
     }
     .mid{
        background-color:#c83200bd ;
        width: 60%;
        border-radius: 30px;
        display: flex;
       margin: 0 1rem ;
        padding: 2rem;
        flex-direction: column;
       
        align-items: center;
     }
     #search{
        padding: 0.4rem;
        width:500px;
     }
     .end{
        width: 20%;
        background-color:rgba(0, 0, 255, 0.716);
        border-radius: 30px;
        padding: 1rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        color: white;
     }
     .search{
      
        padding: 1rem;
     }
     .jobs{
        overflow-y: scroll;
       
        width: 100%;
        height: 100%;
        border-radius: 40px;
        background-color: white;
     }
     .jobs::-webkit-scrollbar{
        display: none;
     }
     .handles{
        text-align: center;
     }
     i{
        transform: scale(1.5);
     }
     .end p{
        font-weight: 700;
     }
     button{
        padding: 0.5rem;
     }
    </style>
</head>
<body>
    <div class="container">
        <div class="nav">
    <h2 style="text-align: center;">

        <%=user[0].Name.toUpperCase()   %>  <%=user[0].Surname.toUpperCase() %>

    </h2>
   
    <p class="navpara">
        <a href="/home/login/<%=user[0].Email %>/after/dashboard">
        Dashboard
    </a> <br><br>
    <a href=" ">
    Contact us
 </a> <br><br>
    <a href=" ">
    About  us
 </a> 
    </p>
    <div class="handles">
        <p style="font-weight:500">
            Check our  handles
        </p>
            
        <div>
            <br>
            <i class="fa-brands fa-instagram"></i> &nbsp; &nbsp;<i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-github"></i>
        </div>
    </div>
  
        </div>
        <div class="mid">
            <div class="search">
                <form action="/home/login/<%= user[0].Email %>/search" method="POST">

                    <input type="text" name="search" id="search" placeholder="Search your job">
                    <button class="btn" type="submit">
                        search
                    </button>
                </form>
            </div>
            <div class="jobs">
        <div>
            
        </div>
            </div>

            
        </div>
        <div class="end">
           <p>
               <a href="/home/login/<%= user[0].Email %>/list">
                    List a Job
               </a>
        </p> 
            <p>

                <a href="">
                    Report a Bug
               </a>
            </p>
            <p>
                Know More about Premium
            </p>

         
        </div>
    </div>
    <script>
        let btn=document.getElementById("btn");
        let div=document.querySelectorAll(".job")
        let input=document.getElementById("search")
        btn.addEventListener("click",()=>{
          input.value="";
        })
        
        </script>
   
</body>
</html>